#wdgLoginForm {
   background: rgb(247, 247, 247);
   border: 1px solid rgba(147, 184, 189,0.8);
   box-shadow: 0 2px 5px rgba(105, 108, 109,  0.7),	0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
   border-radius: 5px;
}

#wdgLoginForm h1:after {
   content: ' ';
   display: block;
   width: 100%;
   height: 2px;
   margin-top: 10px;
   background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%);
   background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0)));
   background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
   background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
   background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
   background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}

#wdgLoginForm input:not([type="checkbox"]){
   border: 1px solid rgb(178, 178, 178);
   box-sizing : content-box;
   border-radius: 3px;
   box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
   transition: all 0.2s linear;
}
#wdgLoginForm input:not([type="checkbox"]):active,
#wdgLoginForm input:not([type="checkbox"]):focus{
   border: 1px solid rgba(91, 90, 90, 0.7);
   background: rgba(238, 236, 240, 0.2);
   box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
}

#wdgLoginForm p.button input{
   border: 1px solid rgb(28, 108, 122);
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
   border-radius: 3px;
   box-shadow:0 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0 0 0 3px rgb(254, 254, 254), 0 5px 3px 3px rgb(210, 210, 210);
   transition: all 0.2s linear;
}
#wdgLoginForm p.button input:hover{
   background: rgb(74, 179, 198);
}
#wdgLoginForm p.button input:active,
#wdgLoginForm p.button input:focus{
   border: 1px solid rgb(12, 76, 87);
   box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
