#wdgLogin{
   position:fixed;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 400px;
   margin-top: -200px;
   margin-left: -250px;
   z-index: 1004;
}

#wdgLogin #divLoginForm {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   padding: 18px 6% 60px 6%;
   margin: 0 0 35px 0;
   z-index: 1005;
}

#divLoginForm h1 {
   font-size: 48px;
   color: #066A75;
   padding: 2px 0 30px;
   font-weight: bold;
   text-align: center;
}
#divLoginForm a {
   color: rgb(95, 155, 198);
   text-decoration: underline;
}
#divLoginForm p{
   margin-bottom:15px;
}
#divLoginForm p:first-child{
   margin: 0;
}
#divLoginForm label{
   color: rgb(64, 92, 96);
   position: relative;
}

#divLoginForm input:not([type="checkbox"]){
   width: 92%;
   margin-top: 4px;
   padding: 10px 5px 10px 32px;
}

#divLoginForm p.button input{
   width: 30%;
   cursor: pointer;
   background: rgb(61, 157, 179);
   padding: 8px 5px;
   font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
   color: #fff;
   font-size: 24px;
   margin-bottom: 10px;
}

#divLoginForm p.button input:active,
#divLoginForm p.button input:focus{
   background: rgb(40, 137, 154);
   position: relative;
   top: 1px;
}
p.login.button {
   text-align: right;
   margin: 5px 0;
}